:host {
    height: 600px;
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.unlock-logo {
    background-image: url('../../../assets/unlock-logo/background_shape.png');
    background-size: contain;
    margin-top: 96px;

    .logo {
        height: 108px;
        margin: 18.5px 18.5px 30px 18.5px;
    }
}

.unlock-title {
    margin: 24px 0 0 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}

.unlock-subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 8px 0 0 0;
}

.unlock-password {
    width: 100%;
    margin-top: 24px;
    padding: 0 20px;

    label {
        font-size: 10px;
        font-weight: 700;
        line-height: 16px;
        color: #57627B;
        padding-left: 8px;
    }

    ::ng-deep nz-input-group {
        border-radius: 8px;
    }
}

:host ::ng-deep .unlock-button {
    height: unset;
    margin-top: 24px;
    padding: 10px 20px;
    background-image: linear-gradient(to left, #1C94F4, #1273EA);
    border-radius: 8px;

    span {
        font-size: 14px;
        font-weight: bold;
        line-height: 20px;
        color: #fff;
    }
}