<div class="main-background"></div>
<div class="main-container">
    <div class="main-nav">
        <div class="main-nav-wallet">
            <span>Ronin Wallet</span>
        </div>
        <div class="main-nav-avatar">
            <img src="../../../assets/main/avatar.png">
        </div>
    </div>
    <div class="main-balance">
        <div class="main-balance-container">
            <div class="main-balance-header">
                <p>
                    My Wallet <span>(7300 3777 3888 3334)</span>
                </p>
                <img src="../../../assets/main/copy.png">
            </div>
            <div class="main-balance-body">
                <p class="main-balance-currency">
                    1,000 USD
                </p>
                <p class="main-balance-sub-currency">
                    23,046,000 VND
                </p>
                <img src="../../../assets/main/balance_logo.png">
            </div>
        </div>
    </div>

    <div class="main-features">
        <div class="features">
            <div class="feature deactive">
                <div class="icon-container">
                    <img src="../../../assets/main/credit-card.png">
                </div>
                <p>
                    Deposit
                </p>
            </div>
            <div class="feature middle">
                <div class="icon-container">
                    <img src="../../../assets/main/plane.png">
                </div>
                <p>
                    Send
                </p>
            </div>
            <div class="feature deactive">
                <div class="icon-container">
                    <img src="../../../assets/main/repeat.png">
                </div>
                <p>
                    Swap
                </p>
            </div>
        </div>
    </div>

    <div class="main-assets">
        <p class="main-assets-title">
            Assets
        </p>
        <div class="asset">
            <img src="../../../assets/main/eur.png">
            <div class="asset-balance">
                <p class="balance">
                    50 EUR
                </p>
                <p class="sub-balance">
                    1,550,000 VND
                </p>
            </div>
        </div>
        <div class="asset">
            <img src="../../../assets/main/yen.png">
            <div class="asset-balance">
                <p class="balance">
                    10,000 YEN
                </p>
                <p class="sub-balance">
                    2,150,000 VND
                </p>
            </div>
        </div>
    </div>
</div>